/* index.css */
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%; /* Added */
  overflow-y: auto; /* Allow body scrolling */
  color: rgb(0, 47, 95) !important;
}

.navbar {
  flex-shrink: 0; /* Prevent navbar from shrinking */
  width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 250px;
}

.inner-body {
  flex: 1;
  display: flex;
  padding: 0 20px;
  width: 100%;
  background-color: #fff; /* Changed to rgba for transparency */
}

/* Container class override */
.container {
  max-width: 1280px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Brandon Grotesque Bold, sans-serif !important;
  font-weight: 900 !important;
}

a, p, span, label, th, td {
  font-family: FSAlbert Regular, sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

@font-face {
    font-family: "FSAlbert Regular";
    src: url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.eot");
    src: url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.svg#FSAlbert Regular")format("svg");
}

@font-face {
    font-family: "Brandon Grotesque Web Regular";
    src: url("https://db.onlinewebfonts.com/t/70bd34e287f233c84a98d03a6d36dabf.eot");
    src: url("https://db.onlinewebfonts.com/t/70bd34e287f233c84a98d03a6d36dabf.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/70bd34e287f233c84a98d03a6d36dabf.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/70bd34e287f233c84a98d03a6d36dabf.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/70bd34e287f233c84a98d03a6d36dabf.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/70bd34e287f233c84a98d03a6d36dabf.svg#Brandon Grotesque Web Regular")format("svg");
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./assets/fonts/Brandon_reg.otf")format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  src: url("./assets/fonts/Brandon_bld.otf")format("opentype");
  font-weight: bold;
}