:root {
  font-family: FSAlbert Regular;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
    font-family: "FSAlbert Regular";
    src: url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.eot");
    src: url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/db3235d0f0b00c494fb4b36d8500ae7a.svg#FSAlbert Regular")format("svg");
}